/* for all smaller displays */
/* mobile devices */
@media screen and (max-width: 767px) {
    .container > .topHeading {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 20px;
      padding: 0;
    }
    .card {
      max-width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 290px));
      align-items: center;
      justify-content: center;
      gap: 36px;
      margin-top: 5px;
      margin-bottom: 50px;
    }
  }
  
  /* for all mid sizes devices like tab */
  @media screen and (min-width: 767px) and (max-width: 991px) {
    .container > .topHeading {
      font-weight: 700;
      font-size: 29px;
      margin-bottom: 50px;
      padding: 0;
    }
    .card {
      max-width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 290px));
      align-items: center;
      justify-content: center;
      gap: 36px;
      margin-top: 5px;
      margin-bottom: 50px;
    }
  }
  
  @media screen and (min-width: 991px) and (max-width: 1139px) {
    .card {
      max-width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 290px));
      align-items: center;
      justify-content: center;
      gap: 36px;
      margin-top: 5px;
      margin-bottom: 50px;
    }
  }
  